body {
    margin: 0px;
    padding: 0px;
}
#footer {
    background-color: #eee;
    border-top: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

.tab-h2 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}

#login-download ul {
    width: 900px;
    margin: 0 auto;
}
#login-download ul .windows, #login-download ul .android, #login-download ul .iphone, #login-download ul .computer, #login-download ul .mac {
    list-style-type: none;
    float: left;
    width: 170px;
    text-align: center;
}

#login-download ul li {
    list-style-type: none;
}

#login-download {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
}