.main-content{
	background-color: #FFFFFF;
	margin-top: 50px;
	border: 1px solid #f8f8f8;
	/*width: 900px;
	height: 500px;*/
	-moz-box-shadow: 0px 5px 10px #909090;/*firefox*/
	-webkit-box-shadow: 0px 5px 10px #909090;/*safari或chrome*/
	box-shadow: 0px 5px 10px #909090;/*opera或ie9*/
}
.container {
	margin-top: 40px;
}

#uploading {
	margin: 40px;
}

ol li.active{
	font-size: 18px;
	text-decoration: none;
}

#uploading img {
	width: 120px;
	height: 176px;
}

#uploading {
	display: none;
}

.tag {
	background-color: #FFFFFF;
	border: 1px solid #f8f8f8;
	-moz-box-shadow: 0px 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 0px 2px 5px #909090;/*safari或chrome*/
	box-shadow: 0px 2px 5px #909090;/*opera或ie9*/
	height: 240px;
}

#uploaded .container .header {
	margin-top: 20px;
}


.modal-title {
	font-family: "Neue Haas Unica W1G", Helvetica, "Segoe UI", "Arial Nova", "Arial", sans-serif;
}

.modal .modal-content .modal-body {
	color: black;
	line-height: 150%;
	font-family: "Neue Haas Unica W1G", Helvetica, "Segoe UI", "Arial Nova", "Arial", sans-serif;
	font-weight: normal;
}

div.modal-body h4 {
	margin-bottom: 4px;
}
div.modal-body p {
	margin-bottom: 8px;
}

.modal-content {
	/*background:-webkit-gradient(linear, 0 0, 0 50%, from(rgb(145,163,185)), to(rgb(87,139,199)));*/
	/*background:-moz-linear-gradient(top, rgb(145,163,185), rgb(87,139,199));*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: hsla(0, 0%, 100%, .7);
	position: relative;
	overflow: hidden;
}
.modal-content::before {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: inherit;
	z-index: -1;
	-webkit-filter: blur(300px);
	-ms-filter: blur(300px);
	filter: blur(300px);
	margin:-30px;
}


