body {
    margin: 0px;
    padding: 0px;
}
#footer {
    background-color: #eee;
    border-top: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

.tab-h2 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}

#client-download ul {
    width: 900px;
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 0;
}
#client-download ul .windows,
#client-download ul .android,
#client-download ul .iphone,
#client-download ul .uwp,
#client-download ul .mac {
    list-style-type: none;
    float: left;
    width: 170px;
    text-align: center;
}

#client-download ul li {
    list-style-type: none;
}

#client-download {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeeeee;
}

#client-download ul li a ol li:nth-child(2) {
	margin-top: 0.8em;
}

label {
    font-weight: normal;
}

.error{
	color: red;
    font-weight: normal;
    margin-top: 0.5rem;
}

.modal-title {
    font-family: "Neue Haas Unica W1G", Helvetica, "Segoe UI", "Arial Nova", "Arial", sans-serif;
}

.modal .modal-content .modal-body {
	color: gray;
	line-height: 150%;
    font-family: "Neue Haas Unica W1G", Helvetica, "Segoe UI", "Arial Nova", "Arial", sans-serif;
    font-weight: normal;
}

div.modal-body h4 {
	margin-bottom: 4px;
}
div.modal-body p {
	margin-bottom: 8px;
}