.main-content{
	background-color: #FFFFFF;
	margin-top: 50px;
	border: 1px solid #f8f8f8;
	/*width: 900px;
	height: 500px;*/
	-moz-box-shadow: 0px 5px 10px #909090;/*firefox*/
	-webkit-box-shadow: 0px 5px 10px #909090;/*safari或chrome*/
	box-shadow: 0px 5px 10px #909090;/*opera或ie9*/
}
#downloading {
	margin: 40px;
}

#downloading img {
	width: 120px;
	height: 176px;
}