body{
	background:-webkit-gradient(linear, 0 0, 0 50%, from(rgba(145,163,185,0.5)), to(rgb(87,139,199))); 
	background:-moz-linear-gradient(top, rgba(145,163,185,0.5), rgb(87,139,199));  
}
.jumbotron{
	margin-top: 70px;
	-moz-box-shadow: 0px 5px 10px #909090;/*firefox*/
	-webkit-box-shadow: 0px 5px 10px #909090;/*safari或chrome*/
	box-shadow: 0px 5px 10px #909090;/*opera或ie9*/
}
